[submodule "libwallaby"]
	path = dependencies/libwallaby
	url = https://github.com/kipr/libwallaby
[submodule "cpython"]
	path = dependencies/cpython
	url = https://github.com/python/cpython
[submodule "dependencies/emsdk"]
	path = dependencies/emsdk
	url = https://github.com/emscripten-core/emsdk
[submodule "dependencies/ammo.js"]
	path = dependencies/ammo.js
	url = https://github.com/kipr/ammo.js
[submodule "dependencies/kipr-scratch"]
	path = dependencies/kipr-scratch
	url = https://github.com/kipr/kipr-scratch
