<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="/static/favicon.png">
  <title>KISS IDE Simulator</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap" rel="stylesheet">
  <link href="/static/fontawesome-free-5.15.3-web/css/all.min.css" rel="stylesheet">
  <style>
    * {
      box-sizing: border-box;
    }

    body {
      overscroll-behavior: none;
    }

    html, body {
      position: relative;
      margin: 0;
      padding: 0;
      background-color: #dcdde1;
      
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
    }
  </style>
</head>
<body>
  <div id="reactRoot"></div>
</body>
</html>