<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="/static/favicon.png">
  <title>KISS IDE Simulator</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <style>
    * {
      box-sizing: border-box;
    }

    html, body {
      margin: 0;
      padding: 0;
      background-color: #dcdde1;
      
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
    }

    /* Pattern styles */
    #container {
      display: grid;
      object-fit: fill;
    }

    #app {
      grid-column: 1;
      width: 100%;
      object-fit: contain;
      border-width: 5px;
      border-style: solid;
      border-color: black;
    }

    #simulator {
      grid-column: 2;
      object-fit: contain;
      border-width: 5px 5px 5px 0px;
      border-style: solid;
      border-color: black;
    }

    .ide-title {
      font-size: xx-large;
      text-align: center;
      margin: 0 0 0 0;
    }

    .kipr {
      text-align: center;
      vertical-align: text-top;
    }

    .movers textarea {
      resize: none;
      text-align: center;
      font-size: large;
    }

    .movers {
      display: grid;
      grid-template: auto / auto auto auto auto;
    }

    .movers > section {
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>