* {
  box-sizing: border-box;
}

.app {
    position: fixed;
    width: 50%;
    float: left;
    height: 100%;
    z-index: 1010101010
}

.simulator {
    position: fixed;
    width: 50%;
    float: right;
    height: 100%;
    z-index: 1010101010
  }