<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="/static/favicon.png">
  <title>KISS IDE Simulator</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap" rel="stylesheet">
  <link href="/static/fontawesome-free-5.15.3-web/css/all.min.css" rel="stylesheet">
  <style>
    * {
      box-sizing: border-box;
    }

    html, body {
      position: relative;
      margin: 0;
      padding: 0;
      background-color: #dcdde1;
      
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
    }

    /* Pattern styles */
    #main {
      display: grid;
      object-fit: fill;
      height: 1100px;
    }

    #root {
      overflow: scroll;
    }

    #modal-root, #screen-guide {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      pointer-events: none;
      background-color: transparent;
      transition: background-color 0.2s, backdrop-filter 0.2s, opacity 0.2s;
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 2;
      opacity: 0;
      overflow: hidden;
    }

    #combo-box-root {
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: transparent;
      z-index: 2;
      overflow: hidden;
      pointer-events: none;
    }

    #app {
      grid-column: 1;
      height: 100%;
      object-fit: contain;
      border-width: 5px;
      border-style: solid;
      border-color: black;
    }

    #right{
      grid-column: 2;
      height: 1100px;
      width: 1300px;
      object-fit: contain;
      border-width: 5px 5px 5px 0px;
      border-style: solid;
      border-color: black;
    }

    #simview {
      width: 100%;
      height: 100%;
      display: block;
    }

    .app-header {
      display: flex;
      flex-wrap: wrap;
    }

    .ide-title {
      font-size: xx-large;
      text-align: center;
      flex-grow: 1;
    }

    .code {
      width: 530px;
    }

    .robotStateHead, .resetButton {
      display: inline-block;
      margin-left: 10px;
      margin-right: 10px;
    }

    .header{
      cursor: pointer;
      border: solid 1px #f2f2f2;
      padding: 15px;
      background-color: #0089CC;
      color: #FFF;
      font-family: verdana;
    }

    .content{
      cursor: pointer;
      border-left: solid 1px #f2f2f2;
      border-right: solid 1px #f2f2f2;
      border-bottom: solid 1px #f2f2f2;
      border-radius: 0 0 5px 5px;
      padding: 15px;
      font-family: verdana;
      font-size: 14px;
    }

    #swap {
      visibility: hidden;
    }
  </style>
</head>
<body>
  <div id="swap"></div>
  <div id="reactRoot" ></div>
  <div id="modal-root"></div>
  <div id="combo-box-root"></div>
  <div id="tooltip-root"></div>
  <div id="screen-guide"></div>
</body>
</html>